:root {
  --background: hsl(240deg 60.35% 22.68% / 97%) 35%;
  --text-color:hsl(0, 0%, 100%);
  --button-color:hsla(214, 80%, 47%, 0.471);
  --border-color:hsla(214, 86%, 42%, 0.323);
  --light-gray-color: hsla(0, 0%, 83%, 0.738);
} 

body {
  margin: 0;
  height: 100vh; 
  background: var(--background);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);
}

html, body {
  height: 100%; 
  margin: 0;   
}

